<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html lang="en">
<head th:replace="/customer/layout :: head"></head>
<body>
<table id="customers">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>phone</th>
    <th>img</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>View</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="row,rowStat : ${customers}">
    <td th:text="${row.getCusName()}"></td>
    <td th:text="${row.getCusEmail()}"></td>
    <td th:text="${row.getCusAddress()}"></td>
    <td th:text="${row.getCusPhone()}"></td>
    <td><img width="50" height="50" th:src="@{'/image/' + ${row.cusImage}}" alt="" src=""></td>
    <td><a th:href="@{/customer/{id}/edit(id=${row.getCusID()})}">Edit</a></td>
    <td><a th:href="@{/customer/{id}/delete(id=${row.getCusID()})}">Delete</a></td>
    <td><a th:href="@{/customer/{id}/view(id=${row.getCusID()})}">View</a></td>
  </tr>
  </tbody>

</table>
<h2 th:text="${message}"></h2>
<!--<footer th:replace="/customer/layout :: footer"></footer>-->
</body>
</html>